<nav class="relative z-50 opacity-0 hidden transition-opacity ease-linear duration-300" role="dialog" aria-modal="true"
    id="menu">
    <div class="fixed inset-0 bg-neutral-950" aria-hidden="true"></div>
    <div class="fixed inset-0 flex -translate-x-full" id="menu-wrap">
        <div class="relative mr-16 flex w-full max-w-xs flex-1">
            <div class="absolute left-full top-0 flex w-16 justify-center pt-5">
                <button type="button" class="-m-2.5 p-2.5" aria-label="Cerrar Menú" id="close-menu-btn">
                    <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>
            </div>
            <!-- Sidebar component, swap this element with another sidebar if you like -->
            <div class="flex grow flex-col gap-y-5 overflow-y-auto bg-neutral-950 px-6 ring-1 ring-white/10">
                <div class="flex h-16 shrink-0 items-center">
                    <img class="h-8 w-auto" src="/static/equills.logo.svg"
                        alt="<%= Rails.application.credentials.app_name %>">
                </div>
                <%= render "admin/nav/list" %>
            </div>
        </div>
    </div>
</nav>