<a href="#" class="flex items-center gap-x-4 px-6 py-3 text-sm font-semibold leading-6 text-white hover:bg-neutral-800">
    <img class="h-8 w-8 rounded-full bg-neutral-800" src="<%= object.avatar.preview.url %>" alt="Foto de perfil">
    <span class="sr-only">Tu Perfil</span>
    <span aria-hidden="true"><%= object.name %></span>
</a>