<section class="w-full relative items-center h-screen flex bg-black text-white">
    <article class="w-full text-center absolute z-20">
        <h1 class="block text-8xl"><%= object.title %></h1>
        <p class="block max-w-2xl xl:max-w-5xl mx-auto px-4"><%= object.description %></p>
    </article>
</section>